{
  "extends": "standard",
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "camelcase": "off",
    "max-len": [2, 80, 4, {"ignoreRegExpLiterals": true, "ignoreUrls": true}],
    "object-property-newline": "off"
  },
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
