name: Conventional Commit Linter

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 100
      - uses: wagoid/commitlint-github-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
