name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint using ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use latest Node.js LTS
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint

  test:
    name: Test on Node.js ${{ matrix.node-version }} and ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x, 19.x]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Run tests
        if: matrix.node-version == '16.x'
        run: npm run test-unit
      - name: Run tests
        if: matrix.node-version != '16.x'
        run: npm run coverage:ci
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v3
